<div class='control-group pref-bio'>
	<label class='control-label'>{{i18n 'df_ask.description'}}</label>
	<div class='controls bio-composer input-xxlarge'>
		{{d-editor value=model.bio_raw}}
	</div>
</div>