.user-main .about {
	// 2018-03-23 It is 180px in the core.
	.controls {width: auto;}
	// 2018-03-23 It is 140px in the core.
	.user-profile-controls-outlet.df-ask a {width: auto;}
}
// 2018-03-29
#topic-title.df-ask--topic-title {
	> .container {
		overflow: hidden; width: 89%;
		> .title-wrapper {float: left; width: 80%;}
		> .df-ask--recipient {
			float: right;
			width: 20%;
			overflow: hidden;
			> div {
				float: left;
				.names {
					> span {
						display: block;
					}
				}
				.topic-avatar {
					border-top: 0;
					margin-right: 8px;
					padding-top: 0;
				}
			}
		}
	}
}