// 2018-03-29
#topic-title.df-ask--topic-title {
	> .container {
		overflow: hidden; width: 89%;
		> .title-wrapper {float: left; width: 80%;}
		> .df-ask--recipient {
			float: right;
			width: 20%;
			overflow: hidden;
			> div {
				float: left;
				.names {
					> span {
						display: block;
					}
				}
				.topic-avatar {
					border-top: 0;
					margin-right: 8px;
					padding-top: 0;
				}
			}
		}
	}
}
// 2018-04-03 «Increase Composer height»: https://github.com/discourse-pro/df-ask/issues/9
.df-ask-screen #reply-control.open {height: 600px;}